[data-id='1+0'] {
	display: none !important;
}
[data-id='2+1'] {
	display: none !important;
}
[data-id='3+0'] {
	display: none !important;
}
[data-id='3+2'] {
	display: none !important;
}
[data-id='5+3'] {
	display: none !important;
}
[data-id='10+5'] {
	display: none !important;
}
[data-id='15+10'] {
	display: none !important;
}
[data-id='30+0'] {
	display: none !important;
}
[data-id='30+20'] {
	display: none !important;
}
[data-id='custom'] {
	display: none !important;
}
